<p class="header-test">header</p>

<!-- <body>
  <header class="header">
    <div class="container header__container">
      <a class="header__link" href="./index.html">News</a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
          <li class="nav__item">
            <a class="nav__link" href="#">Favorite</a>
          </li>
          <li class="nav__item"><a class="nav__link" href="#">Read</a></li>
        </ul>
      </nav>
      <form class="form-search">
        <input
          class="form-search__input"
          type="text"
          placeholder="search"
          name="searchValue"
        />
        <button class="form-search__button" type="submit" name="button">
          <svg class="form-search__icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <button class="burger" type="button">
        <svg class="burger__icon" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-menu"></use>
        </svg>
      </button>
      <div class="switch">
        <svg class="switch__icon" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-sun"></use>
        </svg>
        <button class="switch__button" type="button">
          <span class="switch__circle"></span>
        </button>
        <svg class="switch__icon" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-moon"></use>
        </svg>
      </div>
    </div>
  </header>
</body> -->
