<!-- Budna Elvira -->
<div class="mobile-menu js-menu-container-favorites" id="mobile-menu">
  <div class="mobile-menu__container">
    <a class="mobile-menu__logo" href="./index.html">News</a>
    <button
      class="mobile-menu__close-button js-close-menu-favorites"
      type="button"
    >
      <svg
        class="mobile-menu__icon mobile-menu__icon--close"
        width="24"
        height="24"
        aria-label="Перемикач мобільного меню"
      >
        <use
          class="mobile-menu__icon-cross"
          href="./images/burger-menu/symbol-defs.svg#icon-close-btn"
        ></use>
      </svg>
    </button>
    <nav class="mobile-menu__nav">
      <a class="mobile-menu__nav-link" href="./index.html"
        ><span class="mobile-menu__box-icon">
          <svg class="mobile-menu__icon" width="18" height="18">
            <use href="./images/burger-menu/symbol-defs.svg#icon-home"></use>
          </svg> </span
        >Home<span class="mobile-menu__box-icon mobile-menu__box-icon--right">
          <svg width="24" height="24">
            <use
              href="./images/burger-menu/symbol-defs.svg#icon-chevron-right"
            ></use></svg></span
      ></a>
      <a
        class="mobile-menu__nav-link mobile-menu__current-page"
        href="./favorites.html"
        ><span class="mobile-menu__box-icon">
          <svg class="mobile-menu__icon" width="18" height="18">
            <use href="./images/burger-menu/symbol-defs.svg#icon-heart"></use>
          </svg> </span
        >Favorite</a
      >
      <a class="mobile-menu__nav-link" href="./read.html"
        ><span class="mobile-menu__box-icon">
          <svg class="mobile-menu__icon" width="18" height="18">
            <use
              href="./images/burger-menu/symbol-defs.svg#icon-book-open"
            ></use>
          </svg> </span
        >Read</a
      >
    </nav>
    <!-- <div class="mobile-menu__box-switcher"> -->
    <!-- <span class="mobile-menu__switcher-icon">
        <svg class="mobile-menu__icon" width="21" height="21">
          <use href="./images/burger-menu/symbol-defs.svg#icon-sun"></use>
        </svg>
      </span> -->
    <include src="./partials/switch-theme.html"></include>
    <!-- <span class="mobile-menu__switcher-icon">
        <svg class="mobile-menu__icon" width="21" height="21">
          <use href="./images/burger-menu/symbol-defs.svg#icon-moon"></use>
        </svg>
      </span> -->
    <!-- </div> -->
  </div>
</div>
