<div class="modal-auth">
  <div class="exit-modal">X</div>
  <div id="login-box" class="login-box__signUp">
    <div class="left">
      <div class="exit-modal-in-box">X</div>
      <h1>Sign up</h1>

      <input
        type="text"
        id="username"
        name="username"
        placeholder="username"
        class="auth-input"
      />
      <input
        type="text"
        id="email"
        name="email"
        placeholder="E-mail"
        class="auth-input"
      />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="password"
        class="auth-input"
      />

      <button
        type="submit"
        id="singUp"
        name="signup_submit"
        class="button-auth-submit"
      >
        Sing up
      </button>
    </div>
  </div>

  <div id="login-box" class="login-box__logIn">
    <div class="left">
      <div class="exit-modal-in-box">X</div>
      <h1>Log in</h1>

      <input
        type="text"
        id="emailLogin"
        name="email"
        placeholder="E-mail"
        class="auth-input"
      />
      <input
        type="password"
        id="passwordLogin"
        name="password"
        placeholder="password"
        class="auth-input"
      />

      <button class="button-auth-submit" type="submit" id="login" name="login">
        Login
      </button>
    </div>
  </div>

  <div id="login-box" class="login-box__logOut">
    <div class="left">
      <h1>Log out</h1>

      <a href="./user-profile.html" class="modal-auth-get-account"
        >User account</a
      >

      <button
        class="button-auth-submit"
        type="submit"
        id="logOut"
        name="logOut"
      >
        Log out
      </button>
    </div>
  </div>
</div>
