<div class="container-for-calendar">
  <span class="filter-text">Search date news</span>

  <div id="calendar-section" class="calendar">
    <svg
      id="calendar_input_icon"
      class="calendar__icon"
      width="20px"
      height="20px"
      aria-label="menu"
    >
      <use
        class="calendar__menu"
        href="./images/calendar-sprite.svg#calendar"
      ></use>
    </svg>

    <input
      id="calendar"
      aria-expanded="false"
      class="calendar__input"
      placeholder="News date"
    />
    <svg
      id="calendar_down_arrow"
      class="calendar__arrow"
      width="9px"
      height="15px"
      aria-label="menu"
    >
      <use
        class="calendar__Down"
        href="./images/calendar-sprite.svg#down"
      ></use>
    </svg>
  </div>
</div>
