<!-- <section class="not-found-box"> -->
    <!-- <div class="not-found-box">
        <h2 class="not-found-box__title">You haven't added anything <br/> favorite!</h2>
        <picture >
            <source 
                srcset="./images/mobile-png/nofound-mob-1x.png 1x, ./images/mobile-png/nofound-mob-1x.png 2x" 
                type="image/png" 
                media="(max-width: 479px)"
                alt="underfined-picture"/>
             <source 
                srcset="./images/tablet-png/nofound-tab-1x.png 1x, ./images/tablet-png/nofound-tab-1x.png 2x" 
                type="image/png" 
                media="(max-width:767px)" 
                alt="underfined-picture"/>
            <source srcset="./images/desktop-png/nofound-des-1x.png 1x, ./images/desktop-png/nofound-des-1x.png 2x"  
                type="image/png" 
                media="(min-width: 1279px)"
                alt="underfined-picture"/>
            <img 
                class="not-found-box___picture"
                src="./images/mobile-png/nofound-mob-1x.png" 
                alt="underfined-picture" 
                width="248" 
                height="198"/> 
        </picture>
    </div>
</section> -->
