<div class="not-found-page">
  <h2 class="not-found-box__title">
    We haven’t found news from <br />this category
  </h2>
  <picture>
    <source
      srcset="
        ./images/mobile-png/nofound-mob-1x.png 1x,
        ./images/mobile-png/nofound-mob-1x.png 2x
      "
      type="image/png"
      media="(max-width: 479px)"
    />
    <source
      srcset="
        ./images/tablet-png/nofound-tab-1x.png 1x,
        ./images/tablet-png/nofound-tab-1x.png 2x
      "
      type="image/png"
      media="(max-width:767px)"
    />
    <source
      srcset="
        ./images/desktop-png/nofound-des-1x.png 1x,
        ./images/desktop-png/nofound-des-1x.png 2x
      "
      type="image/png"
      media="(min-width: 1279px)"
    />
    <img
      class="not-found-box___picture"
      src="./images/mobile-png/nofound-mob-1x.png"
      alt="underfined-picture"
      width="601"
      height="478"
    />
  </picture>
</div>
