<div class="pagination__container visually-hidden" id="pagination-container">
  <button class="pagination__prev-btn">
    <svg class="pagination__icon-prev" width="13" height="13">
      <use
        href="./images/pagination/symbol-defs_news.svg#icon-arrow-back"
      ></use>
    </svg>
    Prev
  </button>
  <div class="pagination">
    <!-- <button class="pagination__page-number-btn">1</button>
    <button class="pagination__page-number-btn">2</button>
    <button class="pagination__page-number-btn">3</button> -->
  </div>
  <button class="pagination__next-btn">
    Next
    <svg width="13" height="13" class="pagination__icon-next">
      <use
        href="./images/pagination/symbol-defs_news.svg#icon-arrow-next"
      ></use>
    </svg>
  </button>
</div>
