<div class="switch__wrapper">
  <div class="light-theme-box">
    <svg class="switch__icon" width="20" height="20">
          <use href="../images/switch/symbol-defs.svg#icon-sun"></use>
        </svg>
    <p class="switch__text">Light</p>
  </div>
  <label id="switch" class="switch">
    <input
      class="switch__input visually-hidden"
      type="checkbox"
      id="theme-switch"
    />
    <span class="slider round"></span>
  </label>
  <div class="dark-theme-box">
    <svg class="switch__icon" width="20" height="20">
          <use href="../images/switch/symbol-defs.svg#icon-moon"></use>
        </svg>
    <p class="switch__text">Dark</p>
  </div>
</div>

<!-- <include src="./partials/switch-theme.html"></include> (Аня,додай цей рядок туди де має бути мій світчер.Замість цього инклуда в тебе з я виться моя розмітка) -->
