
.weather {
  background-color: #4440f6;
  width: 288px;
  height: 469px;
  padding: 35px 37px 35px 37px;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

  @media screen and (min-width: 768px) {
    width: 353px;
    height: 675px;
    padding: 45px 53px 45px 53px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 675px;
  }
}

.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__main {
  display: flex;
}

.main-temp {
  font-family: $weather-font;
  font-size: 55px;
  line-height: 64.45px;
  line-height: 100%;

  @media screen and (min-width: 768px) {
    font-size: 64px;
    line-height: 75px;
    line-height: 100%;
  }
}

.wheather__icon-position {
  fill: #fff;
  width: 12px;
  height: 16px;

  @media screen and (min-width: 768px) {
    width: 19px;
    height: 24px;
  }
}

.weather-line {
  width: 1px;
  height: 63px;
  background-color: #fff;
  margin-left: 8px;

  @media screen and (min-width: 768px) {
    height: 63px;
  }
}

.weather-name {
  font-family: $weather-font;
  font-size: 24px;
  line-height: 28px;
  line-height: 100%;
  margin-left: 15px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 42px;
  }
}

.weather__main-position--name-icon {
  display: flex;
  background-color: rgba(254, 254, 255, 0.3);
  width: 121px;
  height: 34px;
  border-radius: 10px;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
  padding-left: 11px;

  @media screen and (min-width: 768px) {
    width: 177px;
    height: 42px;
  }
}

.position-name {
  font-family: $weather-font;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  margin-left: 12px;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 23px;
    line-height: 100%;
  }
}

.weather__picture {
  margin-top: 54px;
  width: 128px;
  height: 121px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-top: 90px;
    width: 165px;
    height: 156px;
  }
}

.weather__date-day {
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 90px;
  }
}

.weather__date-day,
.weather__date-year {
  font-family: $weather-font;
  font-size: 28px;
  line-height: 33px;
  line-height: 100%;
  align-items: center;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 42px;
  }
}

.weather-button {
  color: #fff;
  width: 160px;
  padding: 8px 10px;
  font-size: 16px;
  background-color: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  margin: 0 auto;
  font-family: $weather-font;
  line-height: 1.15;
  transition: background-color 0.25s;
  display: block;
  outline: none;
  border: none;
  margin-top: auto;

  &:hover {
    background: rgba(254, 254, 255, 0.5);
  }

  @media screen and (min-width: 768px) {
    width: 182px;
    padding: 10px 12px;
    font-size: 20px;
  }
}

// weather for week ///////////////////////////////////////////////////

.weather-day {
.hidden {
  visibility: hidden;
  opacity: 0;
}}


.calendar {
  display: flex;
  align-items: center;
}

.calendar__title {
  margin-right: 37px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
}

.calendar__input {
  position: relative;
  z-index: 1;
  margin-left: 24px;
  cursor: pointer;
  width: 152px;
  height: 31px;
  padding: 5px 12px 5px 44px;

  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #111321;
  background-color: #ffffff;

  border: 1px solid #111321;
  border-radius: 20px;
}

.calendar__text {
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02em;

  color: #111321;
}

.calendar__input:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: #4440f6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.calendar__down,
.calendar__up {
  position: absolute;
  left: 124px;
  top: 9px;
  width: 14px;
  height: 14px;

  fill: #a2a2a2;
}

@media (min-width: 768px) {
  .calendar__input {
    width: 168px;
    margin-left: 0;
    padding: 5px 12px 5px 46px;
  }

  .calendar__text {
    font-size: 14px;
    line-height: 1.5;
  }

  .calendar__down,
  .calendar__up {
    left: 141px;
  }

  .calendar__icon--start {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 1280px) {
  .calendar {
    margin-left: auto;
  }
  .calendar__input {
    margin-left: 37px;
  }
}

.calendar__icon--start {
  position: absolute;
  left: 12px;
  top: 6px;
  width: 19px;
  height: 19px;

  fill: #4440f6;
}

.calendar__input:hover > .calendar__icon--start {
  fill: #ffffff;
}

.calendar__input:hover > .calendar__text {
  color: #ffffff;
}

.calendar__input:hover > .calendar__down {
  fill: #ffffff;
}

.calendar__input:hover > .calendar__up {
  fill: #ffffff;
}
.calendar__open {
  color: #ffffff;
  fill: #ffffff;
  background-color: #4440f6;
}

.calendar__open > .calendar__text {
  color: #ffffff;
}

.picker {
  position: absolute;
  z-index: 1;
  top: 31px;
  // right: 0;
  width: 250px;
  height: 250px;
  padding: 16px;

  background: #f8f8f8;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.month {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.month__list {
  padding: 11px 0;
}

.month__data {
  margin-right: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: -0.408px;

  color: #000000;
}

.month__arrows{
  display: flex;
  align-items: center;
}


.weather-day__temp {
  font-family: $weather-font;
  font-size: 22px;
  width: 40px;

  @media screen and (min-width: 768px) {
    font-size: 25px;
    width: 45px;
  }
}

.weather-day__icon-box {
  display: flex;
  height: 65px;

  @media screen and (min-width: 768px) {
    height: 100px;
  }
}

.weather-day__description {
  font-size: 16px;
  width: 60px;
  font-family: $weather-font;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    width: 80px;
  }
}

.weather-day__date {
  font-family: $weather-font;
}

.weather-day__ds-box {
  display: flex;
  flex-direction: column;
}

.weather-day__city-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.weather-day__sity {
  font-family: $weather-font;
  width: 100%;
  font-size: 12px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.month__arrow--prev {
  margin-right: 33px;
}

.month__icon {
  width: 9px;
  height: 17px;
  cursor: pointer;

  fill: #4440f6;
}

.week {
  display: flex;
  justify-content: space-around;
  margin-bottom: 14px;
  list-style: none;
}

.week__day {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.078px;

  color: #3c3c434d;
}

.day {
  display: flex;
  flex-wrap: wrap;
}

.day__item {
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.78;

  letter-spacing: 0.38px;

  color: #000000;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.day__item:hover {
  color: #ffffff;
  background: #4440f6;
  border-radius: 50%;
}

.day__item.inactive--prev,
.day__item.inactive--next {
  color: #a2a2a2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.day__item.inactive--prev:hover {
  color: #ffffff;
  background: #4440f6;
}

.day__item.inactive--next:hover {
  color: #ffffff;
  background: #4440f6;

}
