.categories-test {
  color: rgb(100, 13, 151);
  font-family: $sec-font;
  font-weight: 400;
}
.categories__other-box {
  height: 380px;
  width: 148px;
  overflow-y: scroll;
  filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));
  background-color: #f8f8f8;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 320ms linear;
}

.categories__other-list {
  width: 148px;
  height: 31px;
  left: 16px;
  top: 105px;

  background-color: var(--body-color-light-theme);
  border: 1px solid var(--blue-main-color);
  border-radius: 20px;
  padding: 8px 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  color: var(--blue-main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories__other-item {
  background-color: transparent;
  border: none;
  height: 20px;
  padding: 0;
  color: var(--blue-main-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  text-align: start;
  width: 120px;
  text-overflow: ellipsis;

  display: block;
  // overflow: hidden;

  &:active {
    text-decoration: underline;
  }
}

.categories__other-icon {
  fill: var(--blue-main-color);
}
.categories__other-box.visible {
  opacity: 1;
  pointer-events: all;
}
