ul {
  list-style: none;
}
.bgc {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/creators/bgc.jpg);
  color: var(--body-color-light-theme);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.creator-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 28px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.creator-header__logo {
  width: 150px;
  margin-left: 40px;
}
.creator__nav {
  margin-left: auto;
}

.creator-nav__list {
  display: block;
  margin-left: 20px;
  @include for-size(tablet) {
    display: flex;
    align-items: center;
  }
  @include for-size(desktop) {
    display: flex;
    align-items: center;
  }
}

.creator-nav__item {
  list-style: none;
  margin-right: 69px;
}

.creator-nav__link {
  text-decoration: none;

  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--body-color-light-theme);
}
.hero {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.hero__img {
  width: 100%;
  @include for-size(mobile) {
    width: 300px;
  }
  @include for-size(tablet) {
    width: 400px;
  }
}

.hero-text__block {
  margin: auto;
  max-width: 500px;
  line-height: 55px;
}
.hero__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 600;
  font-family: 'Manrope';
  @include for-size(tablet) {
    text-align: left;
  }
  @include for-size(desktop) {
    text-align: left;
  }
}
.hero__text {
  text-align: center;
  font-family: 'Manrope';
  font-size: 20px;
  @include for-size(tablet) {
    text-align: left;
  }
  @include for-size(desktop) {
    text-align: left;
  }
}
.developer {
  padding-top: 60px;
  padding-bottom: 100px;
}

.developer__container {
  max-width: 1200px;
  margin: auto;
}
.developer__list {
  display: block;
  @include for-size(tablet) {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  @include for-size(desktop) {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.developer__item {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  @include for-size(tablet) {
    align-items: center;
    width: 100%;
    width: calc((100% - 40px) / 2);
  }
  @include for-size(desktop) {
    align-items: center;
    width: 100%;
    width: calc((100% - 90px) / 4);
  }
}
.developer__line {
  position: relative;
  overflow: hidden;
}
.developer__img {
  max-width: 100%;
  margin: auto;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-bottom: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.developer__name {
  text-align: center;
  margin-bottom: 15px;
}
.developer__duties {
  text-align: center;
  margin-bottom: 15px;
  color: var(--body-color-light-theme);
}

.developer-social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
}
.developer-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.developer-social__link:hover,
.developer-social__link:focus {
  background-color: var(--blue-main-color);
  color: var(--white-main-color);
}

.developer-socials__icon {
  fill: var(--body-color-light-theme);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.developer-social__link:hover .developer-socials__icon,
.developer-social__link:focus .developer-socials__icon {
  fill: var(--white-main-color);
}

.creators__footer {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 55px;
}
