.favorite {
    @media screen and (max-width: $tablet) {
      padding-top: 40px;
      padding-bottom: 60px;
    }
  
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
      padding-top: 48px;
      padding-bottom: 100px;
    }
  
    @media screen and (min-width: $desktop) {
      padding-top: 60px;
      padding-bottom: 300px;
  }
  }
//   .current::after {
//     content: "";
  
//     position: absolute;
  
//     display: block;
//     width: 69px;
//     height: 8px;
//     bottom: 0;
//     left: 0;
//     background-color: var(--blue-color);
//     border-radius: 2px;

//         @media screen and (min-width: $desktop) {
//       padding-bottom: 5px;
//   }
// };