.favorite {
  padding-top: 40px;
  padding-bottom: 60px;
}

.screen-tablet {
  .favorite {
    padding-top: 48px;
    padding-bottom: 100px;
  }
}

.screen-desktop {
  .favorite {
    padding-top: 60px;
    padding-bottom: 300px;
  }
}

.not-found{
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  // 36px 59px 36px;
}

// .remove{
// opacity: 1;
// }

.gallery-thumb__icon {
  margin-left: 4px;
  font-size: 26px;
  color: var(--blue-color);
}
//   .current::after {
//     content: "";

//     position: absolute;

//     display: block;
//     width: 69px;
//     height: 8px;
//     bottom: 0;
//     left: 0;
//     background-color: var(--blue-color);
//     border-radius: 2px;

//         @media screen and (min-width: $desktop) {
//       padding-bottom: 5px;
//   }
// };

// .favorite {
//   @media screen and (max-width: $tablet) {
//     padding-top: 40px;
//     padding-bottom: 60px;
//   }

//   @media screen and (min-width: $tablet) and (max-width: $desktop) {
//     padding-top: 48px;
//     padding-bottom: 100px;
//   }

//   @media screen and (min-width: $desktop) {
//     padding-top: 60px;
//     padding-bottom: 300px;
// }
// }
