.header {
  .screen-tablet & {
    padding: 32px 0;
  }
  .screen-desktop & {
    padding: 28px 0;
  }
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 24px 0;
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  .screen-tablet & {
    width: 768px;
  }
  .screen-desktop & {
    width: 1280px;
  }
}

.header__container.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 38px;
  position: relative;
  .screen-tablet & {
    padding-right: 0;
  }
}

.header__logo {
  text-decoration: none;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: var(--black-main-color);
  .dark-theme & {
    color: var(--body-color-light-theme);
    display: block;
    padding-top: 55px;
    padding-bottom: 33px;
  }
  .screen-tablet & {
    margin-right: 48px;
  }
  .screen-desktop & {
    font-size: 42px;
    line-height: 57px;
    margin-right: 102px;
  }
}
.screen-mobile .nav {
  display: none;
}

.nav__list {
  display: flex;
  // margin-left: 102px;
  margin-right: 32px;
  gap: 44px;

  .screen-desktop & {
    gap: 69px;
    margin-right: 147px;
  }
}

// .nav__item:last-child {
//   margin-right: 0;
// }

.nav__item {
  list-style: none;
  // margin-right: 69px;
}

.nav__link {
  text-decoration: none;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--black-main-color);

  .screen-desktop & {
    font-size: 18px;
    line-height: 25px;
  }
}

.form-search {
  position: relative;
  .screen-desktop & {
    margin-right: 147px;
  }
}

.form-search__input {
  transform: scale(0);
  background-color: transparent;
  border: none;
  width: 173px;
  height: 31px;
  border-radius: 20px;
  border: 1px solid var(--black-main-color);
  padding: 5px 5px 5px 48px;
  transition: transform 320ms linear;
  color: var(--black-main-color);

  .dark-theme & {
    color: var(--body-color-light-theme);
    border: 1px solid var(--body-color-light-theme);
  }
  .screen-tablet &,
  .screen-desktop & {
    transform: scale(1);
  }
  .screen-tablet & {
    width: 213px;
  }
  .screen-desktop & {
    width: 288px;
  }
}
.form-search__input::placeholder {
  font-family: 'Poppins';

  font-size: 12px;
  line-height: 21px;

  letter-spacing: 0.02em;
  opacity: 0.4;
  color: var(--black-main-color);

  .dark-theme & {
    color: var(--body-color-light-theme);
  }
}

.form-search__button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  fill: var(--black-main-color);
  border: none;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 14px;
  .dark-theme & {
    fill: var(--body-color-light-theme);
  }
}

// .form-search__icon {
// }

.header .switch__wrapper {
  display: none;
  .screen-tablet &,
  .screen-desktop & {
    display: flex;
  }
}

.auth-button {
}
