.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 24px 0;
  width: 100%;
  @include for-size(tablet) {
    padding: 28px 0;
  }
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  .screen-tablet & {
    width: 768px;
  }
  .screen-desktop & {
    width: 1280px;
  }
}

.header__container.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 38px;
  position: relative;
  .screen-tablet & {
    padding-right: 0;
  }
}

.header__logo {
  text-decoration: none;
  font-family: font(_manrope);
  @include text(700, 24, 33);
  color: var(--black-main-color);
  .dark-theme & {
    color: var(--body-color-light-theme);
    display: block;
  }
  .screen-tablet & {
    margin-right: 48px;
  }
  .screen-desktop & {
    @include text(700, 42, 57);
    margin-right: 102px;
  }
}

.nav__list {
  display: none;
  list-style: none;
  @include for-size(tablet) {
    display: flex;
    gap: 44px;
  }
  @include for-size(desktop) {
    gap: 69px;
  }
}

.nav__link {
  position: relative;
  text-decoration: none;
  font-family: $main-font;
  @include text(700, 16, 22);
  color: var(--black-main-color);
  .dark-theme & {
    color: var(--body-color-light-theme);
  }
  .screen-desktop & {
    @include text(700, 18, 25);
  }
}

.form-search {
  position: relative;
}

.form-search__input {
  transform: scale(0);
  background-color: transparent;
  border: none;
  width: 173px;
  height: 31px;
  border-radius: 20px;
  border: 1px solid var(--black-main-color);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 48px;
  transition: transform 320ms linear;
  color: var(--black-main-color);

  .dark-theme & {
    color: var(--body-color-light-theme);
    border: 1px solid var(--body-color-light-theme);
  }
  @include for-size(tablet) {
    transform: scale(1);
  }
  @include for-size(tablet) {
    width: 213px;
  }
  @include for-size(desktop) {
    width: 288px;
  }
}
.form-search__input::placeholder {
  font-family: font(_poppins), sans-serif;
  @include text(400, 12, 21);
  letter-spacing: 0.02em;
  opacity: 0.4;
  color: var(--black-main-color);

  @include for-size(tablet) {
    @include text(400, 14, 24);
  }
  .dark-theme & {
    color: var(--body-color-light-theme);
  }
}

.form-search__button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  fill: var(--black-main-color);
  border: none;
  padding: 0;
  position: absolute;
  top: 7px;
  right: 14px;
  @include for-size(tablet) {
    top: 7px;
    left: 14px;
    right: 0;
  }
  .dark-theme & {
    fill: var(--body-color-light-theme);
  }
}

.header .switch__wrapper {
  display: none;
  .screen-tablet &,
  .screen-desktop & {
    display: flex;
  }
}

// .auth-button {
// }

.header__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.screen-desktop .header__box {
  flex-direction: row;
}
.auth-button {
  @media screen and (max-width: 767px) {
    display: none;
  }
  width: auto;
  height: 31px;
  // left: 16px;
  // top: 105px;

  background-color: var(--body-color-light-theme);
  border: 1px solid var(--blue-main-color);
  border-radius: 20px;
  padding: 8px 21px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  transition: color 250ms linear;
  transition: background-color 250ms linear;

  color: var(--blue-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
}

.nav__link.current__page::after {
  content: '';
  transform: translateX(50%);
  position: absolute;
  bottom: -5px;
  left: -55%;
  width: 110%;
  height: 1px;
  background-color: var(--blue-main-color);
}

.nav {
  margin-right: 32px;

  .screen-desktop & {
    margin-right: 90px;
  }
}

.nav__link.current__fav::after {
  content: '';
  transform: translateX(50%);
  position: absolute;
  bottom: -5px;
  left: -60%;
  width: 110%;
  height: 1px;
  background-color: var(--blue-main-color);

}

.screen-desktop .header__box {
  align-items: center;
}
