// Budna Elvira
.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);

  background-color: inherit;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }

  &__logo {
    @extend %link;

    padding: 24px 0 24px 16px;
    margin-bottom: 44px;

    // font-family: 'Manrope';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(33 / 24);

    color: var(--main-black-text-color);
  }

  &__close-button {
    @extend %button;
    position: absolute;
    top: 28px;
    right: 16px;
    margin: 0;

    border: none;
    color: inherit;
    background-color: transparent;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      display: none;
    }

    &:hover,
    &:focus {
      color: var(--blue-main-color);
    }
  }

  &__icon {
    fill: var(--body-color-light-theme);
    stroke: var(--blue-main-color);

    &--close {
      stroke: currentColor;
    }

    // &--accent {
    //   stroke: var(--body-color-light-theme);
    // }

    // &--white {
    //   stroke: var(--body-color-light-theme);
    //   // fill: var(--body-color-light-theme);
    // }
  }

  &__box-icon {
    display: block;
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--body-color-light-theme);

    background-color: var(--blue-main-color);

    &--right {
      margin-left: auto;
      border: none;
    }
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__nav {
    margin-bottom: auto;
  }

  &__list {
    @extend %list;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__nav-link {
    @extend %link;

    display: flex;
    gap: 14px;
    padding-left: 16px;
    align-items: center;
    font-size: 16px;
    font-family: 'Manrope';
    font-weight: 500;
    line-height: calc(22 / 16);
    border: none;

    // color: var(--main-black-text-color);

    &--accent {
      @extend %button;
      background-color: inherit;
    }
  }

  &__current-page {
    padding: 6px 10px 6px 16px;

    background-color: var(--blue-main-color);
    color: var(--body-color-light-theme);
  }
}
