// Budna Elvira
.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 16px 18px 16px;
  transform: translateX(100%);

  background-color: var(--body-color-light-theme);

  // transition: transform 250ms var(--time-transition);

  &.is-open {
    transform: translateX(0);
  }

  &__logo {
    @extend %link;

    padding: 24px 0;
    margin-bottom: 44px;

    font-family: 'Manrope';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(33 / 24);

    color: var(--main-black-text-color);
  }

  &__close-button {
    position: absolute;
    top: 28px;
    right: 16px;
    padding: 0;
    margin: 0;

    border: none;
    cursor: pointer;
    color: var(--main-black-text-color);
    background-color: transparent;

    // transition: color 250ms var(--time-transition);

    // &:hover,
    // &:focus {
    //   // color: var(--accent-color);
    // }
  }

  &__icon {
    fill: var(--body-color-light-theme);
    stroke: var(--blue-main-color);

    &--close {
      stroke: currentColor;
    }
  }

  &__box-icon {
    display: block;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--blue-main-color);

    background-color: var(--blue-main-color);
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__nav {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: auto;
  }

  &__nav-link {
    @extend %link;
    display: flex;
    gap: 14px;
    align-items: center;
    font-size: 16px;
    font-family: 'Manrope';
    font-weight: 500;
    line-height: calc(22 / 16);

    color: var(--main-black-text-color);
  }

  &__current-page {
    // position: absolute;
    // width: 120%;
    padding: 6px 0;

    background-color: var(--blue-main-color);
    color: var(--body-color-light-theme);
  }

  // &__current-page.mobile-menu__box-icon {
  //   border: 1px solid var(--body-color-light-theme);
  // }

  // &__box-switcher {
  //   display: flex;
  //   align-items: center;
  //   gap: 8px;
  // }
  // &__list {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 32px;
  // }

  // &__link {
  //   font-weight: 500;
  //   font-size: 40px;
  //   line-height: calc(47 / 40);
  //   letter-spacing: 0.02em;
  //   color: var(--title-text-color);

  // transition: color 250ms var(--time-transition);

  // &--current {
  //   // color: var(--accent-color);
  // }
  // }

  // &__contacts-link {
  //   margin-bottom: 64px;

  //   font-weight: 500;
  //   font-size: 20px;
  //   line-height: calc(28 / 20);
  //   letter-spacing: 0.02em;

  // @media screen and (min-width: $mobile) {
  //   font-size: 24px;
  //   line-height: calc(28 / 24);
  // }
  // }

  // &__contacts-link--accent {
  //   margin-bottom: 32px;

  //   font-size: 26px;
  //   line-height: calc(40 / 26);

  // color: var(--accent-color);

  // @media screen and (min-width: $mobile) {
  //   font-size: 34px;
  //   line-height: calc(40 / 34);
  //   }
  // // }

  // &__social-list {
  //   display: flex;
  //   gap: 10px;
  // }

  // &__social-link {
  //   font-weight: 500;
  //   font-size: 12px;
  //   line-height: calc(22 / 12);
  //   letter-spacing: 0.02em;

  //   // color: var(--accent-color);

  //   @media screen and (min-width: $mobile) {
  //     font-size: 18px;
  //     line-height: calc(22 / 18);
  //   }
  // }

  // &__social-line {
  //   display: block;
  //   height: 22px;
  //   border: 1px solid rgba(33, 33, 33, 0.2);
  // }
}
