.not-found-page {
  display: none;
  &--visually {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.not-found-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-family: font(_manrope);
    @include text(700, 20, 27);
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 40px;
    @include for-size(tablet) {
      @include text(700, 40, 55);
    }
  }

  &__picture {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 248px;
    height: auto;

    @include for-size(tablet) {
      width: 270px;
    }

    @include for-size(desktop) {
      width: 350px;
    }
  }

  &-hidden {
    display: none;
  }
}
