.weather {
  background-color: var(--blue-main-color);
  width: 288px;
  height: 469px;
  padding: 35px 37px 35px 37px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-main-color);

  @media screen and (min-width: 768px) {
    width: 353px;
    height: 675px;
    padding: 45px 53px 45px 53px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 675px;
  }
}

.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__main {
  display: flex;
  align-items: center;
}

.main-temp {
  font-family: $weather-font;
  font-size: 55px;
  line-height: 64.45px;
  line-height: 100%;

  @media screen and (min-width: 768px) {
    font-size: 64px;
    line-height: 75px;
    line-height: 100%;
  }
}

.wheather__icon-position {
  fill: var(--white-main-color);
  width: 12px;
  height: 16px;

  @media screen and (min-width: 768px) {
    width: 19px;
    height: 24px;
  }
}

.weather-line {
  width: 1px;
  height: 63px;
  background-color: var(--white-main-color);
  margin-left: 8px;

  @media screen and (min-width: 768px) {
    height: 81px;
  }
}

.weather-name {
  font-family: $weather-font;
  font-size: 24px;
  line-height: 28px;
  line-height: 100%;
  margin-left: 15px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 42px;
  }
}

.weather__main-position--name-icon {
  display: flex;
  background-color: var(--transparent-backdrop-location-weather-card);
  width: 121px;
  height: 34px;
  border-radius: 10px;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
  padding-left: 11px;

  @media screen and (min-width: 768px) {
    width: 177px;
    height: 42px;
  }
}

.position-name {
  font-family: $weather-font;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  margin-left: 12px;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 23px;
    line-height: 100%;
  }
}

.weather__picture {
  margin-top: 54px;
  width: 128px;
  height: 121px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-top: 90px;
    width: 165px;
    height: 156px;
  }
}

.weather__date-day {
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 90px;
  }
}

.weather__date-day,
.weather__date-year {
  font-family: $weather-font;
  font-size: 28px;
  line-height: 33px;
  line-height: 100%;
  align-items: center;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 42px;
  }
}

.weather-button {
  color: #fff;
  width: 160px;
  padding: 8px 10px;
  font-size: 16px;
  background-color: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  margin: 0 auto;
  font-family: $weather-font;
  line-height: 1.15;
  transition: background-color 0.25s;
  display: block;
  outline: none;
  border: none;
  margin-top: auto;

  cursor: pointer;

  &:hover {
    background: rgba(254, 254, 255, 0.5);
  }

  @media screen and (min-width: 768px) {
    width: 182px;
    padding: 10px 12px;
    font-size: 20px;
  }
}

// weateh for week ///////////////////////////////////////////////////

.weather-day {
  display: flex;
  align-items: center;
}

.weather-day__temp {
  font-family: $weather-font;
  font-size: 22px;
  width: 40px;

  @media screen and (min-width: 768px) {
    font-size: 25px;
    width: 45px;
  }
}

.weather-day__icon-box {
  display: flex;
  height: 65px;

  @media screen and (min-width: 768px) {
    height: 100px;
  }
}

.weather-day__description {
  font-size: 16px;
  width: 60px;
  font-family: $weather-font;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    width: 80px;
  }
}

.weather-day__date {
  font-family: $weather-font;
}

.weather-day__ds-box {
  display: flex;
  flex-direction: column;
}

.weather-day__city-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.weather-day__sity {
  font-family: $weather-font;
  width: 100%;
  font-size: 12px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
